* {
  box-sizing: border-box;
}

.options {
  text-align: center;
  margin: 50px auto;
  width: 50%;
}

.info {
  margin: 50px auto;
  width: 50%;
}

.search {
  text-align: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
  margin-bottom: 50px;
}

.selections {
  margin: 100px auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

.selection {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.selection:hover {
  background-color: #f2dede;
  border-color: #ebccd1;
}

.recommendations {
  margin: 30px auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

.recommendation {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  text-align: center;
}

.in_oy {
  background-color: red;
}

.rate {
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}

.rate:not(:checked) > label {
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:25px;
  color:#ccc;
}

.rate:not(:checked) > label:before {
  content: '★';
  margin: -3px;
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.movie-list {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

.poster {
  height: 175px;
  width: 120px;
}

.movie-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

/* On mouse-over, add a deeper shadow */
.movie-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movie-info > p {
  margin: 15px 0px 0px;
}

.movie-info > .estimate {
  font-size: 13px;
}

.movie-info > .name{
  font-size: 18px;
  font-weight: bold;
}

form {
  width: %50;
}

input[name=age], select, input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0px;
}

select {
  background-color: #f1f1f1;
}

.loader {
  margin: auto;
  margin-top: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #222;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.recommendation > .estimate {
  margin: 0px;
}

.recommendation > .name{
  margin: 0px 0px 10px 0px;
}
